.ekart--search--product{
    margin: 20px auto;
    text-align: center;
}
.ekart-search-product-input{
    width: 40%;
    height: 6.5vh;
    padding: 1px 10px;
    outline: none;
    border-radius: 2px;
    background-color: #efefef;
    border:#28282B 1px solid;
}


.btn{
    padding: 5px 10px;
    border: none;
}

.btn-search{
    height: 6.5vh;
    background-color: #28282B;
    margin-left: -1px;
    color:#fff;
    border-radius: 0px;
}

.btn-search-disabled {
    height: 6.5vh;
    background-color: #aaa;
    margin-left: -1px;
    color: #999;
    border-radius: 0px;
    cursor: not-allowed;
}

.ekart-search-result-for{
    margin: 20px auto;
    padding: 10px 140px;
}